{% extends "blog/base.html" %}
{% block content %}
    <br><br>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ profile.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.user.username }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">@{{ profile.user.username|lower }}</h6>
                    <p class="card-text">{{ profile.user.profile.bio }}</p>
                    <!--p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p-->
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'user:update_user' %}" class="btn btn-outline-primary">Update Profile</a>
    <br><br>
    {% if posts %}
        {% for post in posts %}
            <!-- User posts-->
            <div class="card mb-4 shadow p-3 mb-5 bg-body-tertiary rounded" style="max-width: 540px;">
                <!--a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a-->
                <div class="card-body">
                    <div class="small text-muted">{{ post.date_posted|date:"F d, Y H:i" }}</div>
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content }}</p>
                    <!--a class="btn btn-primary" href="#!">Read more →</a-->
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}