{% extends "blog/base.html" %}
{% block content %}
    <br><br>
    <div class="container">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ profile.image.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ profile.user.username }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">@{{ profile.user.username|lower }}</h6>
                        <p class="card-text">{{ profile.user.profile.bio }}</p>
                        <br>
                        <a href="{% url 'user:update_user' %}" class="btn btn-outline-primary">Update Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <!-- Tab section -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button" role="tab" aria-controls="posts" aria-selected="true">Posts</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="followers-tab" data-bs-toggle="tab" data-bs-target="#followers" type="button" role="tab" aria-controls="followers" aria-selected="false">Followers</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="following-tab" data-bs-toggle="tab" data-bs-target="#following" type="button" role="tab" aria-controls="following" aria-selected="false">Following</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                <br>
                {% if posts %}
                    {% for post in posts %}
                        <!-- User posts-->
                        <div class="card mb-4 shadow p-3 mb-5 bg-body-tertiary rounded" style="max-width: 540px;">
                            <div class="card-body">
                                <div class="small text-muted">{{ post.date_posted|date:"F d, Y H:i" }}</div>
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                <div>
                    <br>
                    {% for follower in profile.followed_by.all %}
                        <a href="{% url 'user:profile' follower.user.id %}">{{ follower.user.username }}</a>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
                <div>
                    <br>
                    {% for following in profile.follows.all %}
                        <a href="{% url 'user:profile' following.user.id %}">{{ following.user.username }}</a>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
